# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Compiled libraries
*.a
*.lib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.nib
*.swp
*~.nib
*.swp
*.swo
*.swn

# Dependency directories
bin/
lib/

.vscode/